/* PREREQUISITES */

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid #FFFFFF;
}

/* NAVIGATION BAR */

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* LOGO */

.nav-logo{
    height: 50px;
    width: 114px;
}
.logo{
    background-image: url("Resources/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

/* ADDRESS */

.add-icon{
    display: flex;
    align-items: center;
}

.add-first{
    color: #CCCCCC;
    font-size: 1rem;
    margin-left: 15px
}
.add-second{
    font-size: 0.85rem;
    margin-left: 3px;
}

/* SEARCH BAR */

.nav-search{
    display: flex;
    background-color: pink;
    width: 850px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.search-select{
    background-color: #F3F3F3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #FEBD68;
    color: #0F1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* LANGUAGE SELECTION */

.nav-language{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50;
    height: 54px;
}
.language-select{
    background: transparent;
    border: none;
    color: #F3F3F3;
}
.language-icon-flag{
    width: 16px;
    height: 21px;
    background-image: url("Resources/EN_ICON.png");
    background-size: cover;
}

/* SIGN IN SECTION */

.nav-signin{
    height: 50px;
    width: 113;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;  
}
.nav-signin-text{
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 4px;
}
.nav-signin-select{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

/* RETRUN & ORDER SECTION */

.nav-returns{
    height: 50px;
    width: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.nav-returns-text-one{
    color: #FFFFFF;
    font-size: 12px;
    margin-right: 15px;
}
.nav-returns-text-two{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}

/* CART SECTION */

.nav-cart{
    height: 50px;
    width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-cart-icon{
    height: 39px;
    width: 41px;
    background-size: cover;
    font-size: 1.5rem;
    margin-top: 18.5px;
}
.nav-cart-text{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

/* SECOND PANEL */

.panel{
    height: 39px;
    background-color: #222F3D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.panel-all{
    height: 28px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 15px;
    color: #F3F3F3;
    font-weight: bolder;
}
.panel-options{
    height: 39px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.panel-options a{
    text-decoration: none;
    color: #F3F3F3;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
}
.panel-deals a{
    text-decoration: none;
    color: #F3F3F3;
    font-size: 14px;
}
.panel-deals{
    height: 28px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HERO SECTION */

.hero-section{
    background-image: url("Resources/hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    height: 40px;
    width: 95%;
    background-color: #F3F3F3;
    color: #0F1111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/* SHOPPING BOXES */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #E2E7E6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: #FFFFFF;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}

/* FOOTER SIGN IN & RECOMMENDATIONS */

.footer-signin{
    height: 148px;
    width: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.footer-signin-button{
    height: 30px;
    width: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2e201;
    color: #0F1111;
    font-size: 13px;
    border-radius: 20px;
}
.footer-signin-text{
    font-size: 0.70rem;
}
.footer-signin a{
    color: #2162A1;
}

/* FOOTER */

/* BACK TO TOP */
.footer-one{
    height: 49px;
    width: auto;
    background-color: #37475A;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
}

/* PANEL OPTIONS */
.footer-two{
    height: 330px;
    width: auto;
    background-color: #222c38;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-box{
    height: 291px;
    width: 222px;
    margin-top: 25px;
}
.footer-box h3{
    font-size: 16px;
    color: #FFFFFF;
}
.footer-box p{
    font-size: 14px;
    color: #DDDDDD;
    margin-top: 10px;
}

/* FOOTER LOGO AND OPTIONS */
.footer-three{
    background-color: #222c38;
    height: 68px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 0.1px solid #696969c8;
}
.footer-logo{
    background-image: url("Resources/amazon_logo.png");
    background-size: cover;
    height: 68px;
    width: 115px;
}
.footer-three-section-two{
    height: 34px;
    width: 441px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-language{
    height: 33px;
    width: 131px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0.5px solid #CCCCCC;
    color: #CCCCCC;
    border-radius: 3px;
}
.footer-language-logo{
   height: 15px;
   width: 15px;
}
.footer-language p{
    font-size: 13px;
}
.footer-currency{
    height: 33px;
    width: 131px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0.5px solid #CCCCCC;
    color: #CCCCCC;
    border-radius: 3px;
}
.footer-currency p{
    font-size: 13px;
}
.footer-country{
    height: 33px;
    width: 131px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0.5px solid #CCCCCC;
    color: #CCCCCC;
    border-radius: 3px;
}
.footer-country-flag{
    background-image: url("Resources/EN_ICON.png");
    background-size: cover;
    height: 16px;
    width: 21px;
    margin-bottom: 6px;
}
.footer-country p{
    font-size: 13px;
}

.closure{
    height: 49px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F1111;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-weight: 500;
}